body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg, #f4e7d3, #d6bfa7);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#logoname {
    font-family: cursive;
    font-size: 40px;
    color: #4b2e1e;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.12);
}

.brand {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.logo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    background-color: white;
}

.brand h1 {
    margin: 12px 0 5px;
    font-size: 34px;
    color: #4b2e1e;
}

.tagline {
    margin: 0;
    color: #6b4f3a;
    font-size: 15px;
    font-style:italic ;
}

.signup-container {
    width: 340px;
    background: white;
    padding: 35px 30px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    text-align: center;
}

.signup-container h2, .login-container h2 {
    margin-bottom: 25px;
    color: #000000;
}

.signup-container input, .login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #d8c3ae;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.signup-container input:focus, .login-container input:focus {
    outline: none;
    border-color: #8b5e3c;
    box-shadow: 0 0 6px rgba(139, 94, 60, 0.3);
}

.signup-container button, .login-container button {
    width: 100%;
    padding: 12px;
    background-color: #ff7a1a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

button {
    transition: all 0.3s ease;
}


button:hover {
    background-color: #e76800;
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.signup-container p, .login-container p {
    margin-top: 18px;
    font-size: 14px;
}

.signup-container a, .login-container a {
    color: #8b5e3c;
    text-decoration: none;
    font-weight: bold;
}

.signup-container a:hover, .login-container a:hover {
    text-decoration: underline;
}
.login-container {
    width: 340px;
    background: rgba(255,255,255,0.96);
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.15);
    text-align: center;
}
.role-container {
    width: 340px;
    background: rgba(255,255,255,0.96);
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.15);
    text-align: center;
}

.role-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #ff7a1a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}